.gamedetails{
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
    align-content: center;
}

.gamedetails_container{
    align-items: center;
    align-content: center;
    background-image: url("/images/bg-gamedetails.jpg");
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    background-size:cover;
}

.game_details_title{
    size: 70px;
    color: rgb(212, 199, 202);
    font-family:fantasy;
    background-color:rgb(37, 33, 24);
    opacity: 0.7;
    text-align: center;
}

.bkg{
    max-width:100%;
    align-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
}

.sephirot{
    align-items: center;
    align-content: center;
    background-image: url("/images/game-list/gamemusic/one-winged-angel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.adol{
    align-items: center;
    align-content: center;
    background-image: url("/images/game-list/gamemusic/innocent.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.joker{
    align-items: center;
    align-content: center;
    background-image: url("/images/game-list/gamemusic/wake-up.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bkg3{
    max-width:50%;
    align-content: center;
    align-items: center;
    display: block;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
}

.row{
    margin-left: 20px;
    margin-top: 2px;
    padding-top: 1%;
}
.col_8{
    max-width: 100%;
    padding: auto;
    border-style:ridge;
    border-color:grey;
    border-radius: 5%;
    background-color: rgb(10, 6, 6);
    height: auto;
    
}

.col_2{
    border-style: ridge;
    border-color: black;
    margin: 1px;
    align-items: center;
    align-content: center;
    background-color: rgb(12, 11, 11);
    border-radius: 3%;
    border-color: gray;
}

.leaderboard{
    font-weight: bolder;
    color:blanchedalmond;
    display:inline-table;
}

.gamedetails_text{
    font-weight: bold;
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button1{
    align-items: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color:white;
    background-color: orangered;  
    border-radius: 5%;

    }

.table_leaderboard{
    border: solid rgb(161, 142, 142);
    align-content: center;
    margin: 10%;

}

.tr,.th,.td{
    border: solid rgb(143, 129, 129);
    size: 20px;
    
} 

.th{
    background-color:rgb(82, 27, 17);
    padding: 3px 3px 3px 3px;
    align-content: center;
    color:blanchedalmond;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.td{
    background-color: rgb(167, 137, 17);
    align-content: center;
    font-style: italic;
    color: blanchedalmond;
    padding: 3px 3px 3px 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}