.gamelist {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container{
    background-image: url("/images/bg-gamelist.jpg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    border-style: solid;
    width: 70%;
    height: auto;
}

.card{
    border-radius: 5%;
    box-sizing: border-box;
    align-items: center;  
    background-color:rgb(65, 26, 26);
    border-color: rgb(58, 16, 16);
    border-style: groove;
    padding:10px;
    align-content: center;
    justify-content: center;
    display: grid;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    width:auto;
    height: auto;
    }

    .card:hover{
    background-color:rgb(24, 39, 88);
    }



.card_img_top{
    max-height: 100px;
    max-width: 100px;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5%;
    height: auto;
}

.card_title{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: oldlace;
}

.card_text{
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.button1{
    align-items: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color:white;
    background-color: black;  
    }

    .row{
        padding: 3%;
    }

    .col{
        padding: 4%;
    }