html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Variables */
:root {
  --nav: rgba(249, 178, 61, 1);
  --bg: rgba(156, 131, 95, 1);
  --btn-hover: rgba(196, 196, 196, 1);
  --skin: rgb(249, 211, 186);
  --black: rgba(51, 44, 43, 1);
}

span.navbar-toggler-icon {
  background-image: url("/public/images/menu.svg");
}

.mySwiper .swiper-button-prev {
  position: relative;
  top: -8px;
  left: 90%;
  color: white;
}
.mySwiper .swiper-button-next {
  color: white;
  position: relative;
  left: 95%;
  top: -29px;
}

span.swiper-pagination-bullet-active {
  background-color: white;
}

span.swiper-pagination-bullet {
  background-color: #eee;
}

@media (max-width: 768px) {
  .mySwiper .swiper-button-prev {
    left: 85%;
  }

  .mySwiper .swiper-button-next {
    left: 92%;
  }
}
.login__google {
  background-color: #4285f4;
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8ad;
}
.loader {
  left: 50%;
  top: 30%;
  z-index: 1000;
  position: absolute;
}
