@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.nav_wrapper {
  background-color: #030303;
  width: 100%;
}

.nav_item {
  position: relative;
  cursor: pointer;
}

.section_hero {
  background-image: url("/images/bg-homepage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

.section_hero::after {
  content: "";
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.title_hero {
  margin-top: 80px;
  font-size: 48px;
  font-family: "Lato", sans-serif;
}

.button_hero {
  background-color: #ff5815;
  border-color: white;
  padding: 8px 38px;
}

.button_hero:hover {
  background-color: #e94200;
  border-color: white;
}

.button_hero:focus {
  background-color: #ff5815;
  border-color: white;
}

.section_features {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.section_features,
.section_testimonial {
  width: 100%;
  min-height: 80vh;
  background-color: #030303;
  color: white;
  opacity: 0.98;
  padding: 48px 0;
}

.title_feature,
.title_testimonial {
  font-size: 38px;
  font-weight: 500;
  margin: 0;
}

.list_features {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.card_wrapper {
  max-width: 430px;
  min-height: 180px;
  background-color: #030303;
}

.img_user {
  width: 50px;
  height: 50px;
}

.footer {
  background-color: #030303;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  color: white;
  opacity: 0.98;
  padding: 48px 0 14px;
}

@media (max-width: 576px) {
  .title_hero {
    font-size: 38px;
  }
}

@media (min-width: 992px) {
  .nav_item::after {
    content: "";
    position: absolute;
    background: white;
    height: 2px;
    width: 50%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 2px;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left center;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }

  .nav_item:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
}
