.content_wrap {
  border: 1px solid #dbdee2;
  border-radius: 8px;
  min-height: 100vh;
}

.profile_name {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  margin-left: 8px;
}

.content_nav {
  border-bottom: 1px solid #dbdee2;
  width: 100%;
  padding: 16px 0;
}

.content_nav_item {
  padding: 0 24px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.content_nav_item:hover {
  color: rgba(49, 53, 59, 0.44);
}

.profile_wrap {
  display: flex;
  padding: 32px 0;
}

.profile_picture {
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(49, 53, 59, 0.12);
  width: 258px;
  height: auto;
  padding: 16px;
}

.profile_avatar {
  object-fit: cover;
  width: 100%;
  height: 224px;
  border-radius: 4px;
}

.data_profile_wrap {
  border-top: 1px solid #dbdee2;
  padding: 0 16px;
  margin-top: 42px;
  width: 100%;
}

.data_personal {
  display: flex;
  color: rgba(0, 0, 0, 0.8);
}

.data_personal_item {
  width: 30%;
}

.input_avatar {
  position: relative;
  margin: 16px 0;
  width: 100%;
  height: 40px;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.button_avatar {
  height: 40px;
  background: transparent;
  width: 100%;
  border: 1px solid #dbdee2;
  border-radius: 4px;
  position: relative;
  top: -56px;
}

.all_users {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  margin: 32px 16px;
}

.card_user {
  border: 1px solid #dbdee2;
  border-radius: 8px;
  padding: 16px;
}

.avatar_user_wrap {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.avatar_user {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .data_profile_wrap {
    border-top: 0;
    margin-top: 0;
  }

  .all_users {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 992px) {
  .all_users {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
